<html lang="en">
  {{ partial "header.html" . }}
  <body>
    {{ partial "nav.html" . }}


    <div class="my-20 bg-[#F5F5F7] rounded-[7px] px-5 py-14">
      <div>
        <div class="font-light">chapter {{ .Params.chapter }}</div>
        <div class="flex font-bold text-3xl">
          {{ .Title }}
        </div>
        <div
          class="bg-gradient-to-r from-[#555555] from-[10px] to-[transparent] to-[10px] bg-[length:20px] h-[2px] mt-4"
        ></div>
      </div>
      <div>{{ .Content }}</div>
      {{ range .Pages.ByWeight }}
        <div class="py-4">
          <a class="flex hover:bg-[#DCE1FD]" href="{{ .RelPermalink }}">
            <div class="grow">
              {{ .Title }}
            </div>
            <img src="/image/arrow.svg" class="h-[1.5rem] self-end" alt="" />
          </a>
        </div>
        <div
          class="bg-gradient-to-r from-[#555555] from-[10px] to-[transparent] to-[10px] bg-[length:20px] h-[2px]"
        ></div>
      {{ end }}
    </div>
  </body>
</html>
