<html lang="en">
  {{ partial "header.html" . }}
  <body>
    {{ partial "nav.html" . }}


    <div class="my-20 rounded-[3px] pt-14 pb-20">
      <div>
        <div class="font-light text-xs">chapter {{ .Params.chapter }}</div>
        <div class="flex font-bold text-3xl">
          {{ .Title }}
        </div>
        <!-- <div
          class="bg-gradient-to-r from-[#555555] from-[10px] to-[#555555] to-[10px] bg-[length:20px] h-[2px] mt-4"
        ></div> -->
      </div>
      <div>{{ .Content }}</div>
      {{ range .Pages.ByWeight }}
        <div class="py-4 group hover:bg-[#BBC4FA]">
          <a class="flex" href="{{ .RelPermalink }}">
            <div class="grow_ group-hover:text-[#fafafc]">
              {{ .Title }}
              <img
                src="/image/arrow.svg"
                class="inline h-[1.5rem] self-end group-hover:animate-bounce ml-2 bg-[#eeeef2]"
                alt=""
              />
            </div>
          </a>
        </div>
        <!-- <div
          class="bg-gradient-to-r from-[#555555] from-[10px] to-[#555555] to-[10px] bg-[length:20px] h-[2px]"
        ></div> -->
      {{ end }}
    </div>
  </body>
</html>
