@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto Mono;
  line-height: 1.5;
  font-weight: 400;
  color: #555555;
  background-color: #fafafc;
  font-size: 16px;
  /* font-size: clamp(16px, 1.5vw, 30px); */
  scroll-behavior: smooth;
}

body {
  margin: auto;
  padding: 0 30px 0px 30px;
  --w: 1.7px;
  background:
    repeating-linear-gradient(to bottom, #e7e7e7 0 5px, transparent 5px 10px)
      calc(0% + 30px) / var(--w) 100% no-repeat,
    repeating-linear-gradient(to bottom, #e7e7e7 0 5px, transparent 5px 10px)
      calc(25% + 15px) / var(--w) 100% no-repeat,
    repeating-linear-gradient(to bottom, #e7e7e7 0 5px, transparent 5px 10px)
      calc(50%) / var(--w) 100% no-repeat,
    repeating-linear-gradient(to bottom, #e7e7e7 0 5px, transparent 5px 10px)
      calc(75% - 15px) / var(--w) 100% no-repeat,
    repeating-linear-gradient(to bottom, #e7e7e7 0 5px, transparent 5px 10px)
      calc(100% - 30px) / var(--w) 100% no-repeat;
}

::selection {
  background: #bbc4fa;
}
