@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto Mono;
  line-height: 1.5;
  font-weight: 400;
  color: #555555;
  background-color: #fafafc;
  font-size: 16px;
  /* font-size: clamp(16px, 1.5vw, 15px); */
  scroll-behavior: smooth;
  --p: 30px;
}

@media (max-width: 600px) {
  :root {
    --p: 15px;
  }
}

body {
  margin: auto;
  padding: 0 var(--p) 0px var(--p);
  --w: 1.7px;
  background:
    repeating-linear-gradient(to bottom, #e7e7e7 0 5px, transparent 5px 10px)
      calc(0% + var(--p)) / var(--w) 100% no-repeat,
    repeating-linear-gradient(to bottom, #e7e7e7 0 5px, transparent 5px 10px)
      calc(25% + 15px) / var(--w) 100% no-repeat,
    repeating-linear-gradient(to bottom, #e7e7e7 0 5px, transparent 5px 10px)
      calc(50%) / var(--w) 100% no-repeat,
    repeating-linear-gradient(to bottom, #e7e7e7 0 5px, transparent 5px 10px)
      calc(75% - 15px) / var(--w) 100% no-repeat,
    repeating-linear-gradient(to bottom, #e7e7e7 0 5px, transparent 5px 10px)
      calc(100% - var(--p)) / var(--w) 100% no-repeat;
}

.window-width {
  margin-left: calc(var(--p) * -1);
  margin-right: calc(var(--p) * -1);
  padding-left: var(--p);
  padding-right: var(--p);
}

.menu-toggle:checked + .menu-icon + .menu {
  display: block;
}

body:has(.menu-toggle:checked) {
  overflow: hidden;
}

::selection {
  background: #bbc4fa;
}
