<div class="flex flex-col gap-10 text-2xl max-[550px]:text-xl font-bold">
  <div class="bg-[#F5F5F7] rounded-[3px] px-5 py-7">
    🤷‍♂️ why?
    <span class="text-[#AFAFB0]">
      the hard truth. You can’t by just reading books and watching videos. I
      tried it. It felt great at the beginning but soon enough it was annjoying
      because nothing sticked.
    </span>
  </div>

  <div class="bg-[#F5F5F7] rounded-[3px] px-5 py-7">
    🤔 how?
    <span class="text-[#AFAFB0]">
      let’s make learning intentional, forgiving and joyful. let’s make
      learning intentional, forgiving and joyful. let’s make learning
      intentional, forgiving and joyful.
    </span>
  </div>

  <div class="bg-[#F5F5F7] rounded-[3px] px-5 py-7">
    🥁 what?
    <span class="text-[#AFAFB0]">
      lean learning helps you learn by providing multiple frameworks. You will
      have a <span class="text-[#6F7FDA]">🍱 place</span> to organize your
      learning, a method to plan aka
      <span class="text-[#6F7FDA]">🎒 shape</span> your learning, and finally a
      set of techniques for <span class="text-[#6F7FDA]">📚 learning</span>.
    </span>
  </div>
</div>
