<div class="flex flex-col font-[Inter] my-14">
  <div class="flex bg-[#DCE1FD] group window-width pt-14 pb-20">
    <div class="flex max-w-[1000px] max-[550px]:flex-col">
      <div class="flex w-1/4 max-[550px]:pb-7 items-baseline">
        <span class="relative mr-1 flex h-3 w-3">
          <span
            class="group-hover:animate-ping absolute inline-flex h-full w-full rounded-full bg-[#333333]"
          ></span>
          <span
            class="relative inline-flex rounded-full h-3 w-3 bg-[#333333]"
          ></span>
        </span>
        why?
      </div>
      <div
        class="w-3/4 max-[550px]:w-full text-2xl max-[550px]:text-xl font-bold "
      >
        the hard truth. You can’t by just reading books and watching videos. I
        tried it. It felt great at the beginning but soon enough it was
        annjoying because nothing sticked.
      </div>
    </div>
  </div>

  <div class="flex bg-[#A4C5B8] group window-width pt-12 pb-20 text-[#fafafc]">
    <div class="flex max-w-[1000px] max-[550px]:flex-col">
      <div class="flex w-1/4 max-[550px]:pb-7 items-baseline">
        <span class="relative flex mr-1">
          <span
            class="group-hover:animate-ping absolute inline-flex h-full w-full rounded-full bg-[#fafafc]"
          ></span>
          <span
            class="relative inline-flex rounded-full h-3 w-3 bg-[#fafafc]"
          ></span>
        </span>
        how?
      </div>
      <div
        class="w-3/4 max-[550px]:w-full text-2xl max-[550px]:text-xl font-bold "
      >
        let’s make learning intentional, forgiving and joyful. let’s make
        learning intentional, forgiving and joyful. let’s make learning
        intentional, forgiving and joyful.
      </div>
    </div>
  </div>

  <div class="flex bg-[#E5C5C5] group window-width pt-14 pb-20">
    <div class="flex max-w-[1000px] max-[550px]:flex-col">
      <div class="flex w-1/4 max-[550px]:pb-7 items-baseline">
        <span class="relative flex mr-1">
          <span
            class="group-hover:animate-ping absolute inline-flex h-full w-full rounded-full bg-[#333333]"
          ></span>
          <span
            class="relative inline-flex rounded-full h-3 w-3 bg-[#333333]"
          ></span>
        </span>
        what?
      </div>
      <div
        class="w-3/4 max-[550px]:w-full text-2xl max-[550px]:text-xl font-bold "
      >
        lean learning helps you learn by providing multiple frameworks. You
        will have a 🍱 <span class="underline">place</span> to organize your
        learning, a method to plan aka 🎒
        <span class="underline">shape</span> your learning, and finally a set
        of techniques for 📚 <span class="underline">learning</span>.
      </div>
    </div>
  </div>
</div>
